#root{

    background-color: blanchedalmond;
    
}
/* *{
    background-color: blanchedalmond;
} */


.gridCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    cursor: pointer;
    
}

.standOut{

    /* box-shadow: 1px 1px 1px 1px; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
}



.footer{
    text-align: center;
    padding: 30px;
}

.footer h3{

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.employees{

    /* box-shadow: 5px 5px 5px 5px rgb(168, 103, 4); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: none;
    outline: none;
    width: 40% ;
}

nav .navbar-nav li Link{

    color: blue;
}

/* IconButton{
    color: black;
    background-color: white;
} */

.highlight{

    z-index: 1;
    border: 2px solid black;
    font-size: larger;
    animation-name: example;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes example {
    /* from {background-color: red;}
    to {background-color: yellow;} */
    from {box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgb(173, 75, 75);
        }
    to {box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(235, 89, 89);
    }
  }

/* @media screen and (max-width:600px) {

    .gridCard{
        grid-template-columns: 1fr;
    }
    
} */

@media screen and (max-width:992px) {

    .gridCard{
        grid-template-columns: 1fr 1fr;
    }
    
}